

@import "swiper/css/bundle";    
@import 'react-18-image-lightbox/src/style.css';
@import '@/assets/css/plugins/bootstrap.min.css';
@import '@/assets/css/plugins/fontawesome.min.css';
@import '@/assets/css/plugins/lightgallery.min.css';
@import 'node_modules/react-modal-video/scss/modal-video.scss';


@import '@/assets/sass/style.scss';