 

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary-font: "Jost", sans-serif;
	--secondary-font: "Jost", sans-serif;
	--primary-color: #ff2c54;
	--theme-color: #31b978;
	--action-color: #31b978;
	--typo-dark: #333333;
	--typo-body: #666666;
	--typo-mid: #8a94a6;
	--typo-light: #a6aebc;
	--bg-light: #f8f9fb;

	--radius: 4px;
	--radius-big: 6px;
	--radius-small: 2px;
	--w-regular: 400;
	--w-medium: 500;
	--w-semi-bold: 600;
	--w-bold: 700;
	--w-extra-bold: 800;
}

html {
	font-size: 10px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
a i {
	font-size: 14px;
}
.ml-20 {
	margin-left: 20px;
}
@media (max-width: 1199px) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 991px) {
	html {
		font-size: 8px;
	}
}

body {
	position: relative;
	font-family: var(--primary-font);
	font-size: 16px;
	line-height: 1.7;
	margin: 0;
	padding: 0;
	color: var(--typo-body);
}

::selection {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

a,
button {
	outline: none;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

a {
	color: var(--action-color);
	font-family: var(--secondary-font);
}

a:hover {
	color: var(--action-color);
	text-decoration: underline;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1500px;
	}
}

.container-fluid {
	padding: 0 4rem;
}

@media (max-width: 767px) {
	.container-fluid {
		padding: 0 2rem;
	}
}

figure {
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}
strong,
b {
	color: #1d2746;
}
@media (max-width: 991px) {
	figure img {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 991px) {
	.section-gap {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

.object-fit__cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.object-fit__contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}

.invisible {
	visibility: hidden;
}

.border-radius {
	border-radius: var(--radius);
}

.no-overflow {
	overflow: hidden;
}

.primary-bg-color {
	background-color: var(--primary-color);
}

.bg-white {
	background-color: #fff;
}

.radius {
	border-radius: var(--radius);
}

.radius-big {
	border-radius: var(--radius-big);
}

.grad-bg {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#eaedf3),
		to(#fff)
	);
	background: linear-gradient(0deg, #eaedf3 0%, #fff 100%);
}

.shadow-p1 {
	-webkit-box-shadow: 0 1px 1px 0 rgba(10, 31, 68, 0.08);
	box-shadow: 0 1px 1px 0 rgba(10, 31, 68, 0.08);
}

.shadow-p2 {
	-webkit-box-shadow: 0 3px 6px 0 rgba(10, 31, 68, 0.1);
	box-shadow: 0 3px 6px 0 rgba(10, 31, 68, 0.1);
}

.section-subtitle {
	font-size: 2rem;
	font-weight: var(--w-semi-bold);
}

.brand-logo {
	display: block;
}

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a [href]:after {
		content: "( " attr(href) ") ";
	}

	abbr [title]:after {
		content: "( " attr(title) ") ";
	}

	a [href^="# "]:after,
	a [href^="javascript: "]:after {
		content: " ";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--secondary-font);
	color: var(--typo-dark);
	font-weight: var(--w-bold);
	line-height: 1.5;
}

h1 {
	font-size: 4.4rem;
}

@media (max-width: 991px) {
	h1 {
		font-size: 3.2rem;
	}
}

h2 {
	font-size: 3.6rem;
}

@media (max-width: 991px) {
	h2 {
		font-size: 3rem;
	}
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
	font-weight: var(--w-bold);
}

h4.sml {
	font-size: 2.2rem;
}

h5 {
	font-size: 1.8rem;
	font-weight: var(--w-bold);
}

h6 {
	font-size: 1.6rem;
	font-weight: var(--w-semi-bold);
}

p {
	color: var(--typo-body);
}

@media (max-width: 991px) {
	p {
		font-size: 16px;
	}
}

.w-light {
	font-weight: var(--w-light);
}

.w-regular {
	font-weight: var(--w-regular);
}

.w-semi-bold {
	font-weight: var(--w-semi-bold);
}

.w-bold {
	font-weight: var(--w-bold);
}

.w-ex-bold {
	font-weight: var(--w-extra-bold);
}

.page-header {
	background-color: #1F2432;
	height: 8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	margin-bottom: 33px;
	border-bottom: 1px solid #eee;
    color: #fff;
}
.page-header a{
    color: #fff;
}

@media (max-width: 767px) {
	.page-header {
		height: auto;
	}
}

.page-nav img {
	width: 180px;
}

.page-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 767px) {
	.page-nav {
		display: block;
	}

	.page-nav .nav-brand {
		display: block;
		margin: 20px 0 20px;
		text-align: center;
	}
}

.nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 40px;
}

.support-link {
	font-size: 14px;
	font-weight: var(--w-medium);
	color: var(--typo-body);
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 3rem;
	margin-right: 30px;
}

.nav-list a:nth-of-type(1) {
	margin-left: 0;
}

.nav-list .toggle-navbar {
	font-size: 20px;
	line-height: 1;
	display: none;
}

@media (max-width: 1199px) {
	.nav-list .toggle-navbar {
		display: block;
		margin-left: 20px;
		font-size: 40px;
		margin-top: 12px;
	}
}

@media (max-width: 767px) {
	.nav-list {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 10px 0 15px;
	}

	.nav-list a {
		font-size: 12px;
		margin-left: 2rem;
	}
}

.main-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sidebar-navigation {
	top: 114px;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

@media (max-width: 1199px) {
	.sidebar-navigation {
		padding: 0 2rem 2rem 2rem;
	}
}

.sidebar-navigation.stick-to-top {
	top: 40px;
}

@media (max-width: 1199px) {
	.sidebar-navigation.stick-to-top {
		top: 0;
	}
}

@media (max-width: 1199px) {
	.sidebar-navigation {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 300px;
		-webkit-transform: translateX(-310px);
		transform: translateX(-310px);
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		z-index: 9999;
		-webkit-box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
		box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
		padding-top: 20px;
	}
}

.sidebar-navigation.show {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

@media (max-width: 767px) {
	.sidebar-navigation {
		width: 260px;
	}
}

.themepure-doc-nav {
	padding-left: 0;
	list-style: none;
	font-family: var(--secondary-font);
}

.themepure-doc-nav ol {
	padding-left: 2rem;
}
.themepure-doc-nav a {
	position: relative;
	display: block;
	background-size: 0px 1px;
	transition: 0.3s;
	background-repeat: no-repeat;
	padding: 14px 20px;
	line-height: 1;
	font-size: 15px;
	color: #333;
	text-decoration: none;
	font-weight: 600;
	font-style: italic;
	z-index: 99;
}
.themepure-doc-nav a:hover {
	color: #31b978;
}
.themepure-doc-nav .icon {
	top: 0;
	right: 10px;
	line-height: 48px;
	font-size: 18px;
	position: absolute;
	color: #31b978;
	transform: rotate(0deg);
	cursor: pointer;
	padding: 0 10px;
	z-index: 99;
}
.themepure-doc-nav.nav-sidebar .nav-item .icon i {
	display: inline-block;
}
.themepure-doc-nav.nav-sidebar .nav-item .icon i + i {
	display: none;
}
.themepure-doc-nav.nav-sidebar .nav-item.active .icon i {
	display: none;
}
.themepure-doc-nav.nav-sidebar .nav-item.active .icon i + i {
	display: inline-block;
}
.sidebar-navigation ol {
	counter-reset: section;
	list-style-type: none;
	display: none;
}
.themepure-doc-nav li .submenu {
	list-style: none;
	background: #fff;
	position: relative;
	width: 100% !important;
	display: none;
	padding: 0;
	padding-left: 50px !important;
	padding-top: 12px;
	padding-bottom: 9px;
}
.themepure-doc-nav li .submenu::before {
	content: "";
	width: 2px;
	bottom: 15px;
	background: #edf1f3;
	position: absolute;
	top: 15px;
	left: 20px;
}
.themepure-doc-nav li .submenu .nav-item {
	list-style: number;
	padding-left: 0;
}
.themepure-doc-nav li .submenu .nav-item a {
	padding-left: 0;
	padding-top: 7px;
	padding-bottom: 7px;
}

.nav-sidebar .nav-item .dropdown_nav .nav-item {
	margin-top: 0;
	background: transparent;
	position: relative;
}
.docs-progress-bar {
	position: absolute;
	background: #deeaff;
	bottom: 0;
	left: 0;
	top: 0;
	max-height: 48px;
}

.nav-item {
	background: #f6f9fb;
	margin-bottom: 3px;
	position: relative;
}

.main {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 100%;
}

@media (max-width: 1199px) {
	.main {
		margin: 0px 0 0;
		padding: 0 15px;
	}
}

.section-1,
.section-2 {
	height: 2000px;
}

input,
textarea {
	width: 100%;
	padding: 1rem 2rem;
	background: #fff;
	border: 2px solid #eeecec;
	font-size: 16px;
	line-height: 30px;
	color: var(--typo-body);
    border: none;
    outline: none;
}

.input-group {
	position: relative;
}

.input-group button {
	position: absolute;
	background: transparent;
	border: none;
	top: 0;
	right: 0;
	font-size: 16px;
	line-height: 34px;
	padding: 1.5rem 2rem;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.input-group button i {
	font-weight: var(--w-medium);
	color: var(--typo-body);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.input-group button:hover i {
	color: var(--primary-color);
}

.main h3 {
	margin-bottom: 1rem;
	margin-top: 0rem;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.main h4 {
	margin: 0 0 1.5rem;
}

.main p {
	margin-bottom: 2rem;
}

.main ul,
.main ol {
	margin: 0 0 2rem;
}
.filterable-wrapper img {
	margin-bottom: 10px;
	width: 100%;
	border: 2px solid #ddd;
	padding: 10px;
	background: #ddd;
}

img {
	max-width: 100%;
	height: auto;
}

.page-footer {
	position: relative;
}

.page-footer p {
	color: #fff;
	margin: 0;
	font-weight: 600;
}

.page-footer a {
	color: #31b978;
}

.page-footer a:hover {
}

.nav {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (max-width: 1199px) {
	.nav {
		display: block;
	}
}

@media (max-width: 1199px) {
	.main-content {
		padding-top: 1px;
		padding-bottom: 50px;
	}
}

section.active h3 {
	color: var(--action-color);
}

.sidebar-navigation ol {
	counter-reset: section;
	list-style-type: none;
}

.sidebar-navigation ol li a::before {
	counter-increment: section;
	content: counters(section, ". ") ". ";
}

.back-to-top {
	position: fixed;
	bottom: -6rem;
	right: -6rem;
	display: block;
	width: 4rem;
	line-height: 4rem;
	background: var(--action-color);
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: var(--radius);
	opacity: 0;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	z-index: 9;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.back-to-top.show {
	bottom: 3rem;
	right: 3rem;
	opacity: 0.7;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.back-to-top:hover {
	color: #fff;
	bottom: 3.2rem;
	opacity: 1;
}

li img {
	display: block;
	margin-top: 20px;
}

.btn-sm.primary-btn {
	border-color: var(--primary-color);
	color: var(--primary-color);
	display: inline-block;
	font-size: 1.4rem;
	padding: 1.2rem 3rem 1.1rem;
	position: relative;
	vertical-align: middle;
	z-index: 9;
	font-weight: 500;
	text-align: center;
	font-family: var(--primary-font);
	letter-spacing: 0.1rem;
	line-height: 2.1rem;
	border-radius: 0;
	border-width: 0.2rem;
	border-style: solid;
	transition: all 0.5s;
}

.btn-sm.primary-btn:hover {
	color: #fff;
}

.btn-sm.primary-btn:before {
	content: " ";
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--primary-color);
	z-index: -1;
	transition: all 0.5s;
	color: #fff;
}

.btn-sm.primary-btn:hover:before,
.btn-sm.primary-btn:focus:before {
	width: 100%;
	right: auto;
	left: 0;
}

.main-content {
	padding-top: 0;
	padding-left: 40px;
}

.search-form {
	margin-bottom: 0;
}

.logo-wrapper {
	margin-bottom: 20px;
}

.main .image-no-100 img {
	width: inherit;
}

img.max-100 {
	max-width: 100%;
	width: auto;
}

.black-color {
	color: #222;
}

.sidebar-navigation h3 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 25px;
	/* border-bottom: 1px solid #4b5091; */
	background: #31b978;
	padding: 15px;
	text-transform: uppercase;
	line-height: 1;
	padding-bottom: 11px;
	padding-left: 25px;
	/* border-radius: 5px; */
}

ul.item-details {
	background: #f6f6f6;
	padding: 40px;
	padding-top: 35px;
	list-style: none;
}

ul.item-details li {
	margin: 15px 0;
}

.e-btn {
	display: inline-block;
	height: 50px;
	line-height: 52px;
	text-align: center;
	padding: 0 25px;
	color: #ffffff;
	background: #31b978;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: 500;
	text-transform: capitalize;
}

.e-btn:hover {
	color: #ffffff;
	-webkit-box-shadow: 0px 10px 24px 0px rgba(4, 23, 118, 0.3);
	-moz-box-shadow: 0px 10px 24px 0px rgba(4, 23, 118, 0.3);
	box-shadow: 0px 10px 24px 0px rgba(4, 23, 118, 0.3);
}

.steps-panel {
	box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
	border: 1px solid #e5ebef;
	margin-top: 10px;
	margin-bottom: 25px;
	border-radius: 2px;
}
.steps-panel .ordered-list {
	position: relative;
	list-style: none;
	padding-left: 20px;
	margin: 20px 0;
	font-family: var(--primary-font);
}
.steps-panel .ordered-list::before {
	content: "";
	position: absolute;
	left: 32px;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #c4cdd5;
}
.steps-panel .ordered-list li {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	margin: 16px 0;
	position: relative;
	padding-left: 35px;
	counter-increment: a;
	font-family: var(--primary-font);
	font-weight: 700;
}
.steps-panel .ordered-list li::before {
	content: counter(a);
	position: absolute;
	color: #fff;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	font-weight: 500;
	font-size: 12px;
	background-color: #31b978;
	text-align: center;
	line-height: 23px;
	top: -4px;
	left: -4px;
	border: 5px solid #fff;
}
.direction_steps {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}
.direction_step + .direction_step {
	margin-left: 28px;
}
.direction_step {
	padding: 0 8px;
	font-size: 13px;
	border-radius: 4px;
	background: #3b2e7c;
	color: #fff;
	position: relative;
	line-height: 23px;
	margin-bottom: 2px;
}
.direction_step + .direction_step::before {
	content: "+";
	font-family: eleganticons;
	position: absolute;
	left: -22px;
	color: #3b2e7c;
}
.code {
	list-style: none;
	border-left: 4px solid #31b978;
	padding: 10px 0;
	background: #f6f9fb;
}
.code li {
	padding: 2px 18px;
	color: #222;
	background: #fff;
}
.code li:nth-child(2n + 0) {
	background-color: #f6f9fb;
}
.filterable-wrapper {
	margin-top: -10px;
}
.filterable-wrapper .section-main + .section-main {
	border-top: 1px solid #e8f0f1;
	padding-top: 60px;
	padding-bottom: 35px;
}
.notice-warning {
	background: #fefaed;
	border-color: #f6ba18;
}
.notice-warning i {
	color: #f6ba18;
	padding-top: 4px;
}
.notice {
	border-left: 10px solid #f6ba18;
	padding: 30px 40px;
	margin-bottom: 20px;
	margin-top: 0;
}
.notice i {
	font-size: 24px;
	margin-right: 25px;
}
.notice p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
	color: #6b707f;
}
.notice-danger {
	background: #ffeff0;
	border-color: #fa303e;
}
.notice-danger i {
	color: #fa303e;
}
.notice-success {
	background: #31b077;
	border-color: #377d5d;
}
.notice-success p,
.notice-success i,
.notice-success h5 {
	color: #fff;
}
.tp-footer {
	background-color: #1F2432;
	padding: 25px 0;
}
.social-footer a {
	color: #8d93a4;
	border: 2px solid #8d93a4;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	line-height: 42px;
	border-radius: 50%;
	text-decoration: none;
}
.social-footer a:hover {
	color: #fff;
	border-color: #31b978;
	background-color: #31b978;
}
.themepure-doc-nav a img {
	width: 19px;
	display: inline-block;
	margin: 0;
	margin-right: 8px;
}

.article_list li a {
	color: #6b707f;
}
.tag_list li a i {
	margin-right: 15px;
	transform: translateY(2px);
	display: inline-block;
}
.message_alert {
	border: 1px solid #e5e9eb;
	border-radius: 4px;
	background: #fafcfd;
	padding: 32px 40px 30px;
	margin-bottom: 20px;
}
.alert-danger {
	background: #fff3f4;
	border-color: #fbadb3;
}
.message_alert i {
	font-size: 24px;
	color: #abb0c0;
	margin-right: 25px;
}
.alert-danger i,
.alert-danger h5 {
	color: #fa303e;
}

.single_list {
	list-style: none;
	box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
	border: 1px solid #e5ebef;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-radius: 2px;
}
.single_list li {
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	position: relative;
	padding-left: 20px;
}
.single_list li + li {
	margin-top: 15px;
}

.single_list li::before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #31b978;
	position: absolute;
	left: 0;
	top: 8px;
}
