/* social-icons.css */

.circleMenu {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  justify-content: center;
  align-items:center;
  padding: 0;
  margin: 0;
  position: fixed; /* Add this line */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  z-index: 999; /* Add this line to make it appear above the images */
}

.circleMenu li {
  display: block;
  margin-bottom: 10px;
}

.circleMenu a {
  display: block;

  width: 50px; /* Adjust the icon size */
  height: 50px; /* Adjust the icon size */
  background-color: #007bff; /* Adjust the background color */

  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.circleMenu a:hover {
  background-color: #0056b3;
}

.circleMenu .menuss-icon {
  display: inline-block;
  vertical-align: middle;
}

.circleMenu svg {

  fill: #fff; /* Adjust icon color */
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;

}
